/*style.css*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --clr1: rgb(207, 79, 101);
    --clr2: #fff;
    --clr3: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--clr1);
}

/*------------------HEADER----------------------*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(253, 226, 230), white);
}

img {
    width: 10%;
}

/*-------NAV_BAR-------*/

nav {
  margin:0 auto;
  display:inline-block;
  font-size: 1.9rem;
  padding-left: 2rem;
}

nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }

nav ul li a {
  padding: 2rem;
  display:inline-block;
  color:var(--clr1);
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:rgb(250, 231, 235);
  float:left;
}

nav ul li ul li {
  width:100%;
}

nav ul li:hover ul {
  display:block;
}

.icons {
    font-size: 2.5rem;
    padding-left: 27rem;
}

.icons .fa-magnifying-glass,
.fa-bag-shopping {
    padding-right: 2.5rem;
    color: rgb(165, 160, 160);
    cursor: pointer;
}

.login a {
    padding: 10px 14px;
    border-radius: 4.3rem;
    font-size: 14px;
    margin-right: 11rem;
    color: var(--clr2);
    background: var(--clr1);
    border: none;
}

.login a:hover {
    color: #fff;
    background: rgb(212, 105, 123);
    cursor: pointer;
}

/*-----------------------HOME-----------------*/

section {
    padding: 13rem 10px;
    padding-bottom: 0;
}
.home .faster
{
  margin-left: 13rem;
  margin-top: 5rem;
  border: none;
  background:rgb(241, 221, 224) ;
  color: var(--clr1);
  padding: 1.2rem;
  border-radius: 6rem;
  margin-bottom: 2rem;
}

.home .text {
    display: flex;
    flex-direction: column;
}

.text h2 {
    color: #000;
    font-weight: 800;
    font-size: 3.5rem;
    padding-left: 13rem;
    padding-right: 5.5rem;
    margin-bottom: -4rem;
}

.text span {
    color: var(--clr1);
}

.home p {
    font-size: 1.7rem;
    color: rgb(170, 163, 163);
    padding-left: 13rem;
    margin-top: -4rem;
    line-height: .5rem;
    padding-bottom: 6rem;
}

.home .btn {
    color: var(--clr1);
    background: rgb(241, 221, 224);
    margin-left: 12.5rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 11px;
}

.home img {
    width: 1rem;
}

.text img {
    width: 43%;
    margin-left: 75rem;
    margin-top: -21rem;
}

.btn-2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.btn-2 .btn {
    font-size: 1.7rem;
    margin-top: 0rem;
    cursor: pointer;
    border: none;
    border-radius: 5rem;
    padding: 1.3rem;
}

.btn-2 p {
    padding-top: 3rem;
    margin-left: -8rem;
    color: #000000ab;
    cursor: pointer;
}

.btn-2 p .fa-play {
    color: rgb(228, 228, 47);
    border-radius: 2rem;
    background: #eee;
}

/*----------------FOLLOWERS--------------*/

.follower {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.follower img {
    width: 5rem;
    border-radius: 5rem;
}

.follower .img-1 {
    border: .4rem solid var(--clr2);
    margin-left: 12rem;
    height: 4.5rem;
}

.follower .img-2 {
    border: .4rem solid var(--clr2);
    margin-left: -2rem;
    height: 4.5rem;
}

.follower .img-3 {
    border: .4rem solid var(--clr2);
    margin-left: -2rem;
}

.follower h3 {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.4rem;
}

.follower p {
    padding-top: 7.5rem;
    margin-left: -26rem;
    font-size: 1.2rem;
}

.follower .fa-solid {
    color: rgba(241, 146, 21, 0.884);
}

/*------------------SERVICE---------------*/

.service p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--clr1);
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-top: -14rem;
}

.service h2 {
    text-align: center;
    font-size: 2.9rem;
    color: #000;
    font-weight: 800;
    padding-bottom: 5.5rem;
    padding-top: 2.5rem;
}

.service-img {
    display: flex;
}

.service-img img {
    width: 34rem;
    padding: 3rem;
    margin-left: 12rem;
    margin-top: -4rem;
}

.service-img h3 {
    text-align: center;
    margin-top: 26rem;
    margin-right: 3rem;
    margin-left: -27rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

/*-------------------REVIEW--------------------*/

.reviews {
    padding-bottom: 9rem;
}

.small-container {
    display: flex;
    justify-content: space-between;
}

.heading h2 {
    color: var(--clr1);
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-align: left;
    padding-bottom: .5rem;
}

.heading h1 {
    font-weight: 800;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.heading p {
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.customer {
    display: flex;
    flex-wrap: wrap;
}

.small-container .customer img {
    width: 4.5rem;
    height: 4.9rem;
    margin-top: 17.5rem;
    margin-left: -49rem;
    border-radius: 4rem;
}

.customer h2 {
    margin-top: 18rem;
    margin-left: 2rem;
}

.customer span {
    margin-top: 20rem;
    margin-left: -8rem;
}

.customer .fa-star,
.fa-star-half-stroke {
    margin-top: 25rem;
    font-size: 1.5rem;
    color: rgb(255, 187, 0);
    margin-left: 1.3rem;
}

.customer h3 {
    margin-top: 25.2rem;
    margin-left: 1rem;
}

.small-container img {
    width: 50rem;
    margin-left: 10rem;
    margin-top: -5rem;
}

.followers h3 {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 25.4rem;
    padding: 3rem;
}

.followers .img-1 {
    border: .4rem solid var(--clr2);
    margin-left: 27.4rem;
    height: 4.9rem;
    width: 4.9rem;
    border-radius: 5rem;
}

.followers .img-2 {
    border: .4rem solid var(--clr2);
    margin-left: -2rem;
    height: 4.9rem;
    width: 4.9rem;
    border-radius: 5rem;
}

.followers .img-3 {
    border: .4rem solid var(--clr2);
    margin-left: -2rem;
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 5rem;
}

.followers .img-4 {
    margin-left: -2.5rem;
    border: .4rem solid var(--clr2);
    border-radius: 3rem;
    width: 4.9rem;
    height: 4.9rem;
}

.followers p {
    margin-left: 37.5rem;
    margin-top: -3.2rem;
    font-weight: 600;
    font-size: 1.2rem;
}

/*----------------------DOWNLOAD-----------------*/

.download {
    background-color: rgb(245, 218, 223);
    padding-bottom: 20rem;
}

.download-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.download h2 {
    font-size: 1.9rem;
    color: var(--clr1);
    letter-spacing: .3rem;
    padding-left: 29rem;
    margin-top: -2rem;
    font-weight: 500;
}

.download p {
    margin-top: 5rem;
    font-size: 2.5rem;
}

.download-container img {
    margin-top: -5rem;
    width: 27rem;
    height: 40rem;
    border-radius: 2rem;
}

.app-container p {
    margin-top: -23rem;
    font-size: 1.5rem;
    text-align: center;
    margin-left: -48rem;
}

.app-container p span {
    color: var(--clr1);
    font-size: 1.7rem;
    cursor: pointer;
}


/*---------------------CONTACT---------------------*/

#contact 
{
   margin-top: -6rem;
}
  
  .section-header 
{
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
   font-size: 2rem;
    color: var(--clr1);
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 100;
}
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  .from-text
{
    padding: 2rem 1rem;
    margin: 8px 0;
    width: 74%;
    border: none;
    background-color: rgb(252, 231, 234);
}
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
    border: none;
    border-radius: 2rem;
    background: rgb(241, 221, 224);
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
    margin-top: 1rem;
    cursor: pointer;
    color: var(--clr1);
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: var(--clr1);
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 3rem;
  }
  
.find h2
{
    color: var(--clr1);
    font-size: 1.9rem;
    letter-spacing: .3rem;
    margin-left: 60rem;
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px var(--clr1);
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: var(--clr1); 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    text-align: center;
    color: var(--clr1);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  


  /*---------------------------MENU------------------*/


/*------------------PIZZA----------------*/

.carousel h2
{
  color: var(--clr1);
  font-size: 3rem;
  letter-spacing: .3rem;
  text-align: left;
  padding-top: 20rem;
  padding-bottom: 1rem;
  padding-left: 21.7rem;
  font-weight: 100;
}
.float-right .para
{
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem;
  margin-left: 8rem;
  font-weight: 800;
}
.float-right
{
  display: flex;
  justify-content: space-between;
}
.flt
{
  float:right;
}
.carousel{
  width:100%;
  margin:auto;
}
.row{
  width:100%;
  padding:1rem;
  overflow:hidden;
  margin:auto;
}
.row-container{
  width:2000px;
  transition:0.5s;
}
.pizza h2
{
  color: var(--clr1);
  font-size: 2.5rem;
  letter-spacing: .3rem;
  margin-left: 40rem;
  font-weight: 800;
  margin-top: -20rem;
}
.container img{
  width: 25rem;
  height: 25rem;
  padding: 1.3rem;
  float:left;
  display:inline;
  margin:0 5px;
  background: none;
  padding-top: 2rem;
  border-radius: 3rem;
}
.clear{
  clear:both;
}
.controls{
  width:100%;
  margin:auto;
}
.carousel  .flt-left,
.flt-right 
{
  border:none;
  padding:1.6rem;
  color:white;
  background:var(--clr1);
  font-weight:bold;
  outline:none;
  height: 4rem;
  text-align: center;
  padding-top: 1.5rem;
  border-radius:2rem;
  position:relative;
  margin-top: 7rem;
  cursor: pointer;
}
/*------------PRICE------------*/
.carousel .price-1,
.price-2,
.price-3,
.price-4,
.price-5,
.price-6,
.price-7,
.price-8
{
  position: absolute;
}
/*-------PRICE_1---------*/
.price-1 h2
{
  color: var(--clr3);
  text-align: left;
  margin-left: -19rem;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-1 p
{
  font-size: 1.6rem;
  margin-left: 3rem;
  font-weight: 700;
}
.price-1 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-1 h4
{
  color: rgb(24, 24, 24);
  margin-left: 3rem;
  margin-top: 1rem;
  cursor: pointer;
}
/*--------------PRICE_2-----------*/

.price-2 h2
{
  color: var(--clr3);
  text-align: left;
  margin-left: 7rem;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-2 p
{
  font-size: 1.6rem;
  margin-left: 29rem;
  font-weight: 700;
}
.price-2 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-2 h4
{
  color: black;
  margin-left: 29rem;
  margin-top: 1rem;
  cursor: pointer;
}

/*--------------PRICE_3-----------*/

.price-3 h2
{
  color: var(--clr2);
  text-align: left;
  margin-left: 33rem;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-3 p
{
  font-size: 1.6rem;
  margin-left: 30pc;
  font-weight: 700;
  text-align: center;
}
.price-3 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-3 h4
{
  color: rgb(177, 174, 174);
  margin-left: 31.5pc;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
}

/*--------------PRICE_4-----------*/

.price-4 h2
{
  color: var(--clr3);
  margin-left: 59rem;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
  text-align: center;
}
.price-4 p
{
  font-size: 1.6rem;
  margin-left: 49.6pc;
  text-align: center;
  font-weight: 700;
}
.price-4 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-4 h4
{
  color: black;
  margin-left: 78rem;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

/*--------------PRICE_5-----------*/

.price-5 h2
{
  color: var(--clr3);
  text-align: right;
  margin-left: 55.5pc;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-5 p
{
  font-size: 1.6rem;
  margin-left: 63.5pc;
  text-align: center;
  font-weight: 700;
}
.price-5 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-5 h4
{
  color: black;
  margin-left: 70pc;
  margin-top: 1rem;
  cursor: pointer;
}

/*--------------PRICE_6-----------*/

.price-6 h2
{
  color: var(--clr2);
  text-align: right;
  margin-left: 72.3pc;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-6 p
{
  font-size: 1.6rem;
  text-align: center;
  margin-left: 79.4pc;
  font-weight: 700;
}
.price-6 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-6 h4
{
  color:white;
  margin-left: 82pc;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}

/*--------------PRICE_7-----------*/

.price-7 h2
{
  color: var(--clr3);
  text-align: left;
  margin-left: 89pc;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-7 p
{
  font-size: 1.6rem;
  margin-left: 97.7pc;
  text-align: center;
  font-weight: 700;
}
.price-7 span
{
  color: rgba(255, 22, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-7 h4
{
  color: black;
  margin-left: 158rem;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

/*--------------PRICE_8-----------*/

.price-8 h2
{
  color: var(--clr2);
  text-align: left;
  margin-left: 106pc;
  font-size: 1.8rem;
  margin-top: -5rem;
  padding-bottom: 0;
  letter-spacing: normal;
}
.price-8 p
{
  font-size: 1.6rem;
  margin-left: 120.1pc;
  text-align: center;
  font-weight: 700;
}
.price-8 span
{
  color: rgba(255, 106, 6, 0.849);
  font-size: 1rem;
  font-weight: 700;
}
.price-8 h4
{
  color: white;
  text-align: center;
  margin-left: 120.5pc;
  margin-top: 1rem;
  cursor: pointer;
}

/*----------------BURGER-------------*/

.burger h1
{
  color: var(--clr1);
  font-size: 2.7rem;
  font-weight: 800;
  margin-top: 33rem;
  text-align: center;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}
.burger .para
{
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
}
.burger-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.burger-img img
{
  width: 24rem;
  height: 23rem;
  margin: 4rem;
  padding-top: 4rem;
  margin-top: 2rem;
  opacity: 3;
}
.burger-img img:hover
{
  opacity: .3;
  cursor: pointer;
}
.names
{
  position: absolute;
  margin-top: -11rem;
  margin-left: 5rem;
  color: var(--clr2);
  font-weight: normal;
}
.names h3
{
  font-size: 1.5rem;
}
.names p
{
  font-size: 1.3rem;
  font-weight: 700;
  padding: .4rem;
}
.names span
{
  color: rgb(212, 42, 42);
  font-size: 9px;
}
.names h4
{
  font-size: 1.3rem;
}

/*----------------SWEETS---------------*/

.sweets h2
{
  color: var(--clr1);
  font-size: 2.7rem;
  font-weight: 800;
  margin-top: 8rem;
  text-align: center;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}
.sweets p
{
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
}
.sweet-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.sweet-img img
{
  width: 36rem;
  height: 43rem;
  margin-left: 20rem;
  padding-top: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  opacity: 3;
}
.sweet-img img:hover
{
  opacity: .3;
  cursor: pointer;
}
.sweet-img h3
{
  position: absolute;
  margin-top: -9rem;
  margin-left: 22rem;
  color: wheat;
  font-weight: 800;
  font-size: 2.4rem;
}
.sweet-img h4
{
  font-size: 1.3rem;
  margin-left: 22.3rem;
  margin-top: -5rem;
}

/*------------DRINKS----------*/

.drinks h2
{
  color: var(--clr1);
  font-size: 2.7rem;
  font-weight: 800;
  margin-top: 8rem;
  text-align: center;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}
.drinks p
{
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
}
.drink-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15rem;
}
.drink-img img 
{
  width: 36rem;
  height: 49rem;
  margin-left: 20rem;
  padding-top: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  opacity: 3;
}
.drink-img img:hover
{
  opacity: .3;
  cursor: pointer;
}
.drink-img h3
{
  position: absolute;
  margin-top: -9rem;
  margin-left: 22rem;
  color: white;
  font-weight: 800;
  font-size: 2.4rem;
}
.drink-img h4
{
  font-size: 1.3rem;
  margin-left: 22.3rem;
  margin-top: -5rem;
  color: #fff;
}










  /*---------------------------------MEDIA QUERY------------------------*/



  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }